name: Sysdig Voting App Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  scan-voting-app:
    runs-on: ubuntu-latest

    steps:
      #1 Checkout repo
      - name: Check out repository
        uses: actions/checkout@v4

      #2 Build vote, worker, and result Docker images
      - name: Build vote image
        run: docker build -t vote-app:latest ./vote

      - name: Build worker image
        run: docker build -t worker-app:latest ./worker

      - name: Build result image
        run: docker build -t result-app:latest ./result

      #3 Scan vote image using Sysdig Scan Action
      - name: Scan vote image
        id: scan-vote
        uses: sysdiglabs/scan-action@v4
        with:
          image-tag: vote-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload vote SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif-vote.json

      #4 Scan worker image
      - name: Scan worker image
        id: scan-worker
        uses: sysdiglabs/scan-action@v4
        with:
          image-tag: worker-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload worker SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif-worker.json

      #5 Scan result image
      - name: Scan result image
        id: scan-result
        uses: sysdiglabs/scan-action@v4
        with:
          image-tag: result-app:latest
          sysdig-secure-token: ${{ secrets.SYSDIG_SECURE_TOKEN }}
          stop-on-failed-policy-eval: true
          stop-on-processing-error: true

      - name: Upload result SARIF
        if: success() || failure()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ github.workspace }}/sarif-result.json
